@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$button-primary: #1975FF;
$button-primary-hover: #0052CC;

$text-primary: #141C24;
$text-secondary: #344051;
$text-tertiary: #637083;
$text-quartenery: #97A1AF;
$text-error: #F64C4C;

$border-light: #CED2DA;
$border-medium: #97A1AF;

$indicator-error: #F64C4C;
$indicator-focused: #4C94FF;